@model MottuOpsDesafioBackEnd.Domain.Models.UserProfileModel

<div class="text-center form-container">
    <h1 class="display-4">Adicionar um novo perfil</h1>
    @using (Html.BeginForm("Post", "Profile", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="mb-3">
            <label asp-for="ProfileName" class="form-label">Nome do perfil</label>
            <input asp-for="ProfileName" class="form-control form-control-sm input-small" />
            <span asp-validation-for="ProfileName" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Cadastrar</button>
    }
</div>