@model MottuOpsDesafioBackEnd.Domain.Models.UserModel

<div class="text-center form-container">
    <h1 class="display-4">Atualizar o usuário</h1>
    @using (Html.BeginForm("Update", "User", FormMethod.Post, new { @class = "form-horizontal", id = "userForm" }))
    {
        <div class="mb-3">
            <input asp-for="Id" type="hidden" />
            <label asp-for="Username" class="form-label">Usuário</label>
            <input asp-for="Username" class="form-control form-control-sm input-small" />
            <span asp-validation-for="Username" class="text-danger"></span>
            <div id="userHelp" class="form-text">Nunca compartilhe seu usuário com mais ninguém.</div>
        </div>
        <div class="mb-3">
            <label asp-for="PasswordHash" class="form-label">Senha</label>
            <input asp-for="PasswordHash" type="text" class="form-control form-control-sm input-small" />
            <span asp-validation-for="PasswordHash" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ProfileId" class="form-label">Perfil</label>
            <select asp-for="ProfileId" class="form-control form-control-sm input-small">
                <option value="">Selecione um perfil</option>
                @foreach (var profile in Model.Profiles)
                {
                    <option value="@profile.Id">@profile.ProfileName</option>
                }
            </select>
            <span asp-validation-for="ProfileId" class="text-danger"></span>
        </div>
        <a class="btn btn-secondary btn-sm" href="@Url.Action("Index", "Authentication")">
            Voltar
        </a>
        <button type="submit" class="btn btn-success" onclick="submitFormAsPut()">Cadastrar</button>
    }
</div>