@model IEnumerable<MottuOpsDesafioBackEnd.Domain.Models.MotorcycleTypeModel>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="text-center">Nome</th>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.TypeName</td>
                    <td>
                        <a id="atualizar" name="atualizar" class="btn btn-warning text-center" asp-area="" asp-controller="MotorcycleType" asp-action="GetById" asp-route-id="@item.Id">Atualizar</a>
                    </td>
                    <td>
                        <a class="btn btn-danger text-center" asp-area="" asp-controller="MotorcycleType" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <h5>Falta banco de dados!</h5>
        }
    </tbody>
</table>

<h6>Total de perfis de usuário cadastrados: @Model.Count()</h6>