@model MottuOpsDesafioBackEnd.Domain.Models.MotorcycleTypeModel

<div class="text-center form-container">
    <h1 class="display-4">Atualizar o modelo da moto</h1>
    @using (Html.BeginForm("Update", "MotorcycleType", FormMethod.Post, new { @class = "form-horizontal", id = "typeMotorcycleForm" }))
    {
        <div class="mb-3">
            <input asp-for="Id" type="hidden" />
            <label asp-for="TypeName" class="form-label">Nome do modelo da moto</label>
            <input asp-for="TypeName" class="form-control form-control-sm input-small" />
        </div>
        <a class="btn btn-secondary btn-sm" href="@Url.Action("Index", "Authentication")">
            Voltar
        </a>
        <button type="submit" class="btn btn-success btn-sm" onclick="submitFormAsPut()">Cadastrar</button>
    }
</div>